.row{

    width: 100%;
}

h1{
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 3%;
    
}
.upload{
    margin-top: 10%;
    margin-bottom: 10%;
}
img{
    height: 200px;
    padding-top: 20px;
    width: 100px;
}